@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
}

#main_container {
  width: 100%;
  height: 100%;
}

/* Navbar Styling */
.navbar_conatainer {
  width: 100%;
  height: 100px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Logo Styling */
.logo_container {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo_container img {
  width: 60px;
  height: 60px;
}
.logo_container span {
  font-size: 1.2rem;
}

/* weather data container */
.weatherdata_container {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  display: none;
}
.temperature_box {
  font-size: 4rem;
}
#weather_decription {
  text-transform: capitalize;
}
.overlap {
  width: 300px;
  height: 300px;
  position: relative;
  margin: 0 auto;
}
.overlap h3 {
  position: absolute;
  top: 228px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
}
.earth {
  width: 100%;
  height: 100%;
}
.gauge_meter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.meter_indicator {
  position: absolute;
  top: 76px;
  left: 126px;
  width: 50px;
  height: 85px;
  background: #5c5e68;
  transform-origin: bottom;
  transform: rotate(-130deg);
  clip-path: polygon(50% 0%, 30% 100%, 70% 100%);
  border-radius: 5px;
  transition: transform 0.8s ease-in-out;
}
.meter_center_circle {
  position: absolute;
  top: 130px;
  left: 120px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #5c5e68;
}

/* Loader */
.loader {
  width: 120px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.loader span {
  display: block;
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 50%;
  animation: loader 1s ease-in-out infinite;
}

.loader span:nth-child(1) {
  animation-delay: 0s;
  background: #42a4ee;
}
.loader span:nth-child(2) {
  animation-delay: 0.5s;
  background: #5aac51;
}
.loader span:nth-child(3) {
  animation-delay: 1s;
  background: #ed8801;
}
.loader span:nth-child(4) {
  animation-delay: 1.5s;
  background: #ec3845;
}

@keyframes loader {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
